*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}


*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:2rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
                                                    
img{
	width: 3rem;
	height: 3rem;
}

$baseGreen : #8DD498;
$baseOrange : #F39F61;
$basePink : #F38787;
$baseBlue : #6FB2DE;
$baseBrown :#C6B29C;
$baseRed : #D74C3D;

@mixin borderBox{ /*  */
	border-sizing:border-box;
	-webkit-border-sizing:border-box;

}

@mixin clearFloat{
	:after{
		content: "\200B";
		display: block;
		height: 0;
		clear: both;
	}
	
}

@mixin centerBothFlexBox{ /**/

}
@mixin centerXFlexBox{ /* */

}
@mixin centerYFlexBox{ /* */

}

@mixin headerH1{
	position: absolute;
	left: 50%;
	font-size: 1rem;
	float: left;
	width:5rem;
	margin-left: -3rem;
	display: block;
	width: 6rem;
	text-align: center;
	line-height: 3.75rem;
}

@mixin headerDiv{
	position: relative;
	text-align: center;
	height: 3.75rem;
	background-color: $baseGreen;
}


#headerMenu{
	background-color: $baseGreen;
	#menu{
		@include headerDiv;

		#menuLeft{
			float:left;
		}
		.iconfont{
			line-height: 3.75rem;
		}

		h1{
			@include headerH1
		}

		#menuAdd{
			float:right;
		}

		@include clearFloat
	}

	#nav{
		display: none;
		width: 18rem;
		margin: 0 auto;
		li{
			
			display: inline-block;
			color: green;
			font-size: 1.25rem;
			padding: 0;
			margin: 0 0.08rem;
			height: 1.5rem;
			line-height: 1.5rem;
			border:red 0.03rem solid;
			@include borderBox

		}
	}

}


#addHaederMenu{
	@include headerDiv;
	@include clearFloat;

	#menuLeftBack{
		float: left;
		line-height: 3.75rem;
	}
	h1{
		@include headerH1
	}
	#sureToAdd{
		float: right;
		font-size: 1.5rem;
		color: white;
		line-height: 3.75rem;
	}
}

@mixin iconDiv{
	margin: 0.25rem auto;

	float:left;
	width: 5rem;
	text-align: center;
		display: -ms-flex;
	    display: -webkit-flex;
	    display: flex;
	    flex-driection:column;
	    -webkit-flex-driection:column;
	    flex-flow:column;
	    justify-content:center;
		display: -ms-flex;
	    display: -webkit-flex;
	    display: flex;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    -webkit-box-align: center;
	    align-items: center;
	    vertical-align: middle;
	    -webkit-box-pack: start;
		-moz-box-pack: start;
		-webkit-justify-content: center;
		-ms-flex-pack: start;
		justify-content: center;	

}


#addAccountPart{
	@include clearFloat;

	#shooseType{
		@include clearFloat;

		>.get{
			width: 100%;
			margin: 0.5rem auto;
			@include clearFloat;
			>div{

				@include iconDiv;
				[title=get]{
 				}
			}

		}

		>.less{
			width: 100%;
			margin: 0.5rem auto;
			@include clearFloat;

			>div{
				@include iconDiv;
			}

		}

		.testClass{  
			i{
				&[title=get]{
					color:$baseGreen
				}
				&[title=trans]{
					color:$baseOrange
				}
				&[title=trip]{
					color: $baseBlue
				}
				&[title=food]{
					color:$baseRed
				}
				&[title=life]{
					color:$basePink
				}
				&[title=else]{
					color:$baseOrange
				}	
			}



			&[title = get]{
				border:solid 0.2rem $baseGreen;
			}
			&[title = trans]{
				border:solid 0.2rem $baseOrange;
			}
			&[title = trip]{
				border:solid 0.2rem $baseBlue;	
			}
			&[title = food ]{
				border:solid 0.2rem $baseRed;
			}
			&[title = else]{
				border:solid 0.2rem $baseOrange;	
			}
			&[title = life]{
				border:solid 0.2rem $basePink;
			}
				width: 3.2rem;
				height: 3.2rem;
				border-radius: 1.6rem;
				text-align: center;
				
				box-sizing:border-box;
				display: -ms-flex;
			    display: -webkit-flex;
			    display: flex;
			    -ms-flex-align: center;
			    -webkit-align-items: center;
			    -webkit-box-align: center;
			    align-items: center;
			    vertical-align: middle;
			    -webkit-box-pack: start;
				-moz-box-pack: start;
				-webkit-justify-content: center;
				-ms-flex-pack: start;
				justify-content: center;

				left:50%;
				margin-left:-1.6px
		}

		.testClassClicked{
				&[title = get]{
					border:solid 0.2rem $baseGreen;
					background-color: $baseGreen;

				}
				&[title = trans]{
					border:solid 0.2rem $baseOrange;
					background-color: $baseOrange;
				}
				&[title = trip]{
					border:solid 0.2rem $baseBlue;	
					background-color: $baseBlue;
				}
				&[title = food ]{
					border:solid 0.2rem $baseRed;
					background-color: $baseRed;
				}
				&[title = else]{
					border:solid 0.2rem $baseOrange;	
					background-color: $baseOrange;
				}
				&[title = life]{
					border:solid 0.2rem $basePink;
					background-color: $basePink;
				}
				
				i{
					color:white;
				}
			
				width: 3.2rem;
				height: 3.2rem;
				border-radius: 1.6rem;
				text-align: center;
				
				box-sizing:border-box;
				display: -ms-flex;
			    display: -webkit-flex;
			    display: flex;
			    -ms-flex-align: center;
			    -webkit-align-items: center;
			    -webkit-box-align: center;
			    align-items: center;
			    vertical-align: middle;
			    -webkit-box-pack: start;
				-moz-box-pack: start;
				-webkit-justify-content: center;
				-ms-flex-pack: start;
				justify-content: center;

				left:50%;
				margin-left:-1.6px;

		}
	}



	#addNumpart{
		float: left;
		margin-top: 0.75rem;

		p{
			font-size: 1.5rem;
		}
		input{
			height: 2rem;
			width: 15rem;
			font-size: 1.5rem;
		}

	}

}

#accountList{
	#accountListUl{
		li{
			border-bottom: solid 0.1rem rgb(222,222,222);
			margin: 0.5rem auto;

			div{
				display: inline-block;
			}
			p{
				display:inline-block;
			}

			.content{
				.testClassClicked{
						&[title = get]{
							border:solid 0.2rem $baseGreen;
							background-color: $baseGreen;
						}
						&[title = trans]{
							border:solid 0.2rem $baseOrange;
							background-color: $baseOrange;
						}
						&[title = trip]{
							border:solid 0.2rem $baseBlue;	
							background-color: $baseBlue;
						}
						&[title = food ]{
							border:solid 0.2rem $baseRed;
							background-color: $baseRed;
						}
						&[title = else]{
							border:solid 0.2rem $baseOrange;	
							background-color: $baseOrange;
						}
						&[title = life]{
							border:solid 0.2rem $basePink;
							background-color: $basePink;
						}
						
						i{
							color:white;
						}
					
						width: 3.2rem;
						height: 3.2rem;
						border-radius: 1.6rem;
						text-align: center;
						
						box-sizing:border-box;

					    -ms-flex-align: center;
					    -webkit-align-items: center;
					    -webkit-box-align: center;
					    align-items: center;
					    vertical-align: middle;
					    -webkit-box-pack: start;
						-moz-box-pack: start;
						-webkit-justify-content: center;
						-ms-flex-pack: start;
						justify-content: center;

						left:50%;
						margin-left:-1.6px;
				}	

			}

			.makeSome{
				visibility: hidden;
				
				float: right;
			}

			#deleteAccount{
				i{
					color:red;
				}	
			}

			#editAccount{
				i{
					color:red;
				}
			}
		}

	}
}








